.monitors {
    composes: panel from "../base/widgets.module.css";
    grid-template-rows: auto 1fr;
}

[data-layout="main"] {
    .monitors {
        border-radius: 0 0 var(--border-radius) 0;
    }
}

.toolbar {
    composes: toolbar from "../base/widgets.module.css";
    justify-content: space-between;
    padding: 0;
    place-items: center;

    white-space: nowrap;
}

.actions,
.tabs {
    display: flex;
    flex-direction: row;
}

.actions {
    --button-size: 15px;

    padding: 0 1ch;
    border-left: var(--toolbar-border-width) solid var(--panel-border-color);

    gap: 0.5ch;
    align-items: stretch;

    select {
        text-align: right;
    }
}

.tabs {
    height: 100%;
    align-items: center;

    & > button {
        padding: 1ch 2ch;

        border: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--toolbar-fg);
        background: var(--toolbar-bg);

        font-family: var(--regular-font, sans-serif), sans-serif;
        font-size: 0.8rem;

        &[aria-selected="true"] {
            color: var(--tab-selected-fg);
            background: var(--tab-selected-bg);
            box-shadow: 0 var(--toolbar-border-width) 0 var(--tab-selected-fg);
        }

        &:hover, &:hover {
            background-color: var(--toolbar-item-focus-bg);
        }

        svg {
            margin-right: 0.5ch;
        }
    }
}

.content {
    overflow: auto;
}
