.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;

    color: white;
    background: #333;
}

.actions {
    .optionSwitcher {
        margin-left: 2ch;
    }
}

.title {
    text-shadow: 1px 1px 2px black;

    a {
        color: unset;
        text-decoration: none;
    }
}

.optionSwitcher {
    display: inline-flex;
    flex-direction: row;

    color: white;
    background: #111;

    height: 1rem;
    gap: 5px;
    padding: 5px;
    border-radius: 1rem;

    --background-start: 0%;
    transition: --background-start ease-out 200ms;

    background-image: linear-gradient(
        to right,
        #777 var(--background-start),
        transparent var(--background-start),
        transparent calc(var(--background-start) + 50%),
        #777 calc(var(--background-start) + 50%)
    );

    &[data-option-highlight="right"] {
        --background-start: 50%;
    }

    & > svg {
        width: 1rem;
        height: 1rem;
    }
}

@property --background-start {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

.animatedColors :is(.header + div) * {
    transition: color ease-out 125ms, background-color ease-out 125ms;
}

@media (max-width: 600px) {
    .header {
        font-size: 0.8rem;
    }
}
