:root {
    color-scheme: light dark;

    --regular-font: "Quicksand Variable";
    --monospace-font: "Roboto Mono Variable";

    --main-fg: light-dark(black, white);
    --main-bg: light-dark(#ddd, #111);

    --panel-border-color: light-dark(#ccc, #333);

    --panel-fg: var(--main-fg);
    --panel-bg: light-dark(white, #222);

    --toolbar-fg: light-dark(#222, #eee);
    --toolbar-bg: light-dark(#eee, #171717);
    --toolbar-border-width: 2px;

    --toolbar-item-focus-bg: light-dark(#ddf, #227);

    --icon-button-fg: light-dark(#222, #ddd);
    --icon-button-bg: light-dark(#fff, #111);
    --icon-button-shadow: light-dark(#444, #444);
    --icon-button-shadow-focus: light-dark(#00f, #77f);

    --tab-selected-fg: light-dark(#24f, #79f);
    --tab-selected-bg: var(--toolbar-bg);
}

html:has(#selected-theme[data-select-theme="dark"]) {
    color-scheme: dark;
}

html:has(#selected-theme[data-select-theme="light"]) {
    color-scheme: light;
}
