.monitors {
    composes: panel from "../layout.module.css";
    border-radius: 0 0 var(--border-radius) 0;

    grid-template-rows: auto 1fr;
}

.toolbar {
    composes: toolbar from "../layout.module.css";
    justify-content: flex-start;
    padding: 0;
    place-items: center;
}

.actions {
    --icon-size: 10px;

    padding: 0 1ch;
    border-right: var(--toolbar-border-width) solid var(--panel-border-color);
}

.actions,
.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabs {
    height: 100%;

    & > button {
        padding: 1ch 2ch;

        border: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--toolbar-fg);
        background: var(--toolbar-bg);;

        font-size: 0.8rem;

        &[aria-selected="true"] {
            color: var(--tab-selected-fg);
            background: var(--tab-selected-bg);
            box-shadow: 0 var(--toolbar-border-width) 0 var(--tab-selected-fg);
        }

        &:hover, &:hover {
            background-color: var(--toolbar-item-focus-bg);
        }

        svg {
            margin-right: 0.5ch;
        }
    }
}

.content {
    overflow: auto;
}

.logs {
    overflow: auto;
    height: 100%;

    font-family: monospace;
    font-size: 0.8rem;

    .event {
        display: flex;
        align-items: flex-start;
        padding: 0.3ch 0.5ch;
        gap: 0.5ch;
    }

    [data-field="level"] {
        position: relative;
        &:before { z-index: 1; }
    }

    [data-field="message"] {
        flex: 1;
    }

    [data-field="repeat"] {
        color: black;
        background: #e0e0e0;

        text-align: center;

        line-height: 1rem;
        min-width: 1rem;
        font-size: 0.7rem;
        border-radius: 50%;
    }

    .info { [data-field="level"] { color: hsl(200, 70%, 30%); } }
    .error { [data-field="level"] { color: hsl(0, 70%, 50%); } }

    .lostEvents {
        padding: 0.5ch;

        color: light-dark(black, white);
        background: light-dark(#fee, #422);
        border: solid light-dark(#f77, #944);
        border-width: 1px 0;
    }

    [data-field="variable"] {
        display: inline-block;
        padding-left: 1.5ch;

        &[data-name="n"] { color: light-dark(#005, #aaf); }
        &[data-name="t"] { color: light-dark(#050, #afa); }
    }

    &:hover {
        [data-field="variable"]:before {
            content: attr(data-name) " = ";
            font-style: italic;
        }
    }
}
