@custom-media --small-viewport screen and (max-width: 1000px);
@custom-media --regular-viewport screen and not (max-width: 1000px);

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "DejaVu Sans", Seravek, Calibri, Arial, sans-serif;
    font-size: var(--theme-font-size);

    color: var(--theme-fg);
    background: var(--theme-bg);
}


main {
    display: flex;
}

aside {
    background: var(--theme-toc-bg);

    h1 {
        text-align: center;
        min-width: 10ch;
    }

    details {
        summary {
            padding: 1ex;
            cursor: pointer;

            font-weight: bold;

            display: block;
            &::-webkit-details-marker { display: none; }

            &::before {
                content: " ";

                float: right;
                display: inline-block;

                margin-left: 1ch;
                height: 1em;
                width: 1em;

                background-image: url("./arrow.svg");
                background-size: 1em;
                background-position: center right;
                background-repeat: no-repeat;

                transition: transform 200ms ease-in;
            }

            &:hover {
                color: var(--theme-links);
            }
        }

        &:not([open]) > summary::before {
          /* Rotate icon in <summary> when <details> is closed. */
          transform: rotate(-90deg);
        }
    }

    a {
        display: block;
        padding: 1ex;
        margin: 0 2ex;

        white-space: nowrap;
        text-decoration: none;
    }

    @media (--regular-viewport) {
        position: sticky;
        top: 0;

        height: 100vh;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-gutter: stable;
    }
}

section {
    flex: 1;
    padding: 1em;

    p, li {
        line-height: 1.5;
    }

    & > :is(ul, p, pre) {
        margin-left: 1em;
        overflow-x: auto;
    }

    :not(:is(a, pre)) > code {
        display: inline-block;
        padding: 0 5px;
        border-radius: 5px;

        color: var(--theme-code-fg);
        background: var(--theme-code-bg);
    }

    code.hljs {
        display: block;
        border-radius: 1ex;
    }

    h1 {
        border-bottom: 3px solid var(--theme-header-underline);
    }

    h2 {
        border-bottom: 1px solid var(--theme-header-underline);
    }

    h3 {
        font-size: var(--theme-font-size);
        border-bottom: 1px solid var(--theme-header-underline);
    }
}


a {
    color: var(--theme-links);
    text-decoration-color: color-mix(in srgb, var(--theme-links) 30%, transparent);

    &:hover {
        text-decoration: none;

        color: var(--theme-bg);
        background: var(--theme-links);

        code {
            color: unset;
            background: unset;
        }
    }
}

#showTOC, #showTOC input {
    display: none;

    text-align: center;
    padding: 2ex;
    font-size: 110%;

    background: var(--theme-show-toc-bg);
    border-bottom: 1px solid var(--theme-fg);
}

.vgs-output {
    display: grid;
    padding: 5px;
    gap: 5px;
    background: var(--theme-code-bg);

    .code {
        display: flex;
        height: 100%;

        flex-direction: column;
        align-content: space-between;

        pre {
            margin: 0;
        }
    }

    .actions a {
        display: inline-block;

        margin: 1ex;
        padding: 1ex 1.5ex;

        border: 1px solid var(--theme-play-fg);

        color: var(--theme-play-fg);
        background: var(--theme-play-bg);

        white-space: nowrap;
        text-decoration: none;

        &:hover {
            color: var(--theme-play-bg);
            background: var(--theme-play-fg);
        }

        &.playground {
            &::before {
                display: inline-block;
                content: " ";

                width: 0;
                height: 0;

                border: 0.3lh solid transparent;
                border-left: 0.5lh solid currentcolor;
            }
        }
    }

    .output picture {
        display: block;
        border-radius: 5px;

        background: repeating-linear-gradient(
            135deg,
            var(--theme-code-bg) 10px,
            var(--theme-bg) 15px,
            var(--theme-code-bg) 20px
        );

        img {
            /* Needed to remove the gap under the image. */
            vertical-align: middle;
        }
    }

    @media (--regular-viewport) {
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr min-content;

        .code {
            grid-area: 1 / 1;
        }

        .actions {
            grid-area: 2 / 1;
        }

        .output {
            grid-area: 1 / 2 / 3 / 2;
        }
    }

    @media (--small-viewport) {
        grid-template-columns: 1fr min-content;

        .code {
            grid-area: 1 / 1 / 1 / 3;
        }

        .actions {
            grid-area: 3 / 2 / 3 / 3;
        }

        .output {
            grid-area: 2 / 1 / 2 / 3;
            overflow-x: auto;
        }
    }
}

/* Layout for smaller screens. */
@media (--small-viewport) {
    main {
        flex-direction: column;
    }

    #showTOC {
        display: block;
    }

    #showTOC:not(:has(:checked)) + .sections {
        display: none;
    }
}

/* Highlight when user jumps to a section */
:target {
    scroll-margin-top: 10vh;
}

h1, h2, h3 {
    padding: 0.25ex;

    &:has(:target) {
        animation: 1s ease-in bg-highlight;
    }
}

@keyframes bg-highlight {
    from {
        background: rgba(250, 250, 150, 0.5);
    }

    to {
        background: rgba(250, 250, 150, 0);
    }
}

/* Theme */
:root {
    color-scheme: light dark;

    --theme-font-size: 12pt;

    --theme-fg: #111;
    --theme-bg: #fff;

    --theme-code-fg: #111;
    --theme-code-bg: #eee;

    --theme-links: #007;

    --theme-toc-bg: #eee;
    --theme-show-toc-bg: #ccc;

    --theme-play-fg: #037;
    --theme-play-bg: #fff;

    --theme-header-underline: #bbb;

    @media (prefers-color-scheme: dark) {
        --theme-fg: #fff;
        --theme-bg: #111;

        --theme-code-fg: #fff;
        --theme-code-bg: #333;

        --theme-links: #aaf;

        --theme-toc-bg: #222;
        --theme-show-toc-bg: #333;

        --theme-play-fg: #9cf;
        --theme-play-bg: #000;

        --theme-header-underline: #555;
    }
}
