.editor {
    --line-numbers-width: 4ch;

    border-radius: var(--border-radius);

    overflow: auto;
    padding: 0.5ch;

    composes: panel from "../layout.module.css";

    textarea, pre {
        grid-area: 1 / 1;

        margin: 0;
        padding: 0;

        border: 0;
        outline: 0;

        tab-size: 4;
        white-space: pre-wrap;
        word-break: break-all;

        font-family: monospace;
        font-size: 1rem;

        padding-left: var(--line-numbers-width);
    }

    pre {
        [data-kind="comment"] { color: light-dark(#444, #CCC); font-style: italic; }
        [data-kind="keyword"] { color: light-dark(#900, #F77); }
        [data-kind="number"] { color: light-dark(#074, #7FA); }
        [data-kind="expr"] { color: light-dark(#04A, #ACF); }
    }

    textarea {
        resize: none;
        caret-color: light-dark(black, white);
        color: transparent;
        background: transparent;
        overflow-y: hidden;
    }
}

.lineNumber {
    float: left;
    display: block;

    width: var(--line-numbers-width);
    margin-left: calc(-1 * var(--line-numbers-width));
    text-align: right;

    color: light-dark(#999, #777);

    &::after { content: " "; }
}
