.modal {
    border: 0;
    padding: 0;
    outline: 0;

    box-shadow: 0 0 0.5ch var(--icon-button-shadow);
    border-radius: 1ch;

    z-index: 1000;

    &::backdrop {
        backdrop-filter: blur(1px) saturate(0.1);
    }
}

.front {
    color: #fafafa;
    background: light-dark(#248, #026);
}

.mainLayout {
    display: flex;

    .front {
        width: min-content;
        padding: 2ch;

        h1 {
            margin: 0;
            font-size: 1.5rem;
            text-shadow: 0 0 2px #ccc;
            white-space: nowrap;
        }

        .details {
            margin-top: 4ch;
            font-size: 0.9rem;
            line-height: 1.5;
        }
    }

    .content {
        padding: 2ch;

        color: light-dark(black, white);
        background: light-dark(#f7f7f7, #333);
    }
}

.verticalForm {
    .param {
        margin-bottom: 1ch;
        padding-bottom: 1ch;

        label > span:first-child {
            display: block;
            padding-bottom: 0.5ch;
            font-size: 0.8rem;
            font-weight: bold;
        }

        select, input {
            background: white;
            color: black;

            outline: 0;
            padding: 0.5ch 1ch;
            border: 0;
            box-shadow: 0 0 3px var(--icon-button-shadow);
            border-radius: 0.5ch;

            &:focus {
                box-shadow: 0 0 5px var(--icon-button-shadow-focus);
            }
        }

        select:has(+ :is(input, select)) {
            margin-right: 2ch;
        }
    }

    .actions {
        margin-top: 4ch;
        padding-top: 1ch;
    }
}

.topBar {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1ch;
}

.actions {
    text-align: right;

    a, button {
        appearance: none;
        border: 0;
        outline: 0;
        text-decoration: none;

        margin-left: 1ch;
        padding: 0.5ch 2ch;
        border-radius: 0.5ch;

        font-size: 1rem;

        color: var(--icon-button-fg);
        background: var(--icon-button-bg);

        box-shadow: 0 0 3px var(--icon-button-shadow);

        &.close {
            --icon-button-shadow: light-dark(#f00, #400);

            color: white;
            background: #800;
        }

        &[disabled] {
            filter: blur(1px);
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:focus {
            box-shadow: 0 0 5px var(--icon-button-shadow-focus);
        }
    }
}

.errors {
    padding: 1ch;
    margin-top: 5ch;

    font-size: 0.8rem;

    color: black;
    background: #faa;
}

.help {
    font-size: 0.9rem;
    max-width: 30vw;
}

.fileSavesList {
    overflow: hidden;
    border: 0;
    outline: 0;
    padding: 0;

    min-width: 20vw;
    margin-bottom: 3ch;

    border-radius: 1ch;
    box-shadow: 0 0 3px var(--icon-button-shadow);

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    .entry {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        padding: 1ch;
        max-width: 30vw;
        word-break: break-all;

        &.selected {
            color: var(--tab-selected-fg);
        }

        &.selected, &:hover, &:focus {
            background: var(--tab-selected-bg);
        }

        button {
            margin-left: 1ch;
        }
    }

    &:focus {
        box-shadow: 0 0 5px var(--icon-button-shadow-focus);
    }
}

.fileSavesNew {
    margin-bottom: 3ch;

    input[type="text"] {
        box-sizing: border-box;

        width: 100%;
        padding: 0.5ch 1ch;

        border: 0;
        outline: 0;
        border-radius: 0.5ch;

        box-shadow: 0 0 3px var(--icon-button-shadow);

        &:focus {
            box-shadow: 0 0 5px var(--icon-button-shadow-focus);
        }
    }
}

.warning {
    display: flex;

    svg {
        width: 3ex;
        height: 3ex;
        fill: light-dark(#e60, #f70);
    }

    p {
        margin-top: 0;
        margin-left: 0.5ch;
    }
}

@media (max-width: 800px) {
    .mainLayout {
        flex-direction: column;

        .front {
            width: auto;
        }
    }

    .help, .fileSavesList .entry {
        max-width: unset;
    }
}
