.panel {
    --border-radius: 2ch;

    display: grid;

    height: 100%;
    box-sizing: border-box;

    border: 1.5px solid var(--panel-border-color);

    color: var(--panel-fg);
    background: var(--panel-bg);
}

.toolbar {
    display: flex;
    flex-direction: row;

    color: var(--toolbar-fg);
    background: var(--toolbar-bg);

    border-bottom: var(--toolbar-border-width) solid var(--panel-border-color);

    [data-layout="vertical"] & {
        overflow: auto;
        scrollbar-width: none;
    }
}

.topToolbar {
    overflow: hidden;

    justify-content: space-between;
    padding: 1ch;
    gap: 3ch;

    & > div {
        --button-size: 20px;

        flex: 1;
        display: inline-flex;

        width: fit-content;
        height: 30px;

        justify-content: center;
        &:first-child { justify-content: flex-start; }
        &:last-child { justify-content: flex-end; }
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms ease-out;

    padding: 0.75ch;

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    border: 0;
    border-radius: 1ch;

    outline: none;

    &:hover, &:focus {
        box-shadow: 0 0 5px var(--icon-button-shadow-focus);
    }

    &:not(:last-child) {
        margin-right: 1ch;
    }

    & > svg {
        height: var(--button-size, 20px);
        width: var(--button-size, 20px);
    }
}

.button, .selectOptions {
    transition: box-shadow 200ms ease-out;
    box-shadow: 0 0 3px var(--icon-button-shadow);
}

.dropdownArrow::after {
    content: "";
    display: inline-block;

    width: 0.7ch;
    height: 0.7ch;

    margin-right: 0.25ch;
    margin-left: 1ch;

    border: solid currentcolor;
    border-width: 0 2px 2px 0;

    transform: translateY(-25%) rotate(45deg);
}

.dropdownArrow:has(+ .selectOptions)::after {
    transform: translateY(25%) rotate(225deg);
}

.selectOptions {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 2001;

    border: 0;
    outline: none;
    padding: 0;
    border-radius: 1ch;
    overflow: hidden;

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    & > button {
        display: block;

        appearance: none;
        border: 0;
        outline: none;
        background: none;
        user-select: none;

        font-size: 0.8rem;
        padding: 0.75ch 1ch;

        cursor: pointer;

        &.selected {
            color: var(--tab-selected-fg);
        }

        &.selected, &:hover, &:focus {
            background: var(--tab-selected-bg);
        }
    }
}

.selectBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 2000;
}
