.editor {
    grid-template-rows: auto 1fr;

    composes: panel from "../base/widgets.module.css";
}

.code {
    --line-numbers-width: 4ch;

    display: grid;
    position: relative;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    padding: 0.5ch;
    overflow: auto;

    textarea, pre {
        grid-area: 1 / 1;

        margin: 0;
        padding: 0;

        border: 0;
        outline: 0;

        tab-size: 4;
        white-space: pre-wrap;
        word-break: break-all;

        font-family: var(--monospace-font, monospace), monospace;
        font-size: 1rem;

        padding-left: var(--line-numbers-width);
    }

    pre {
        --color-error: light-dark(#A00, #F55);

        [data-kind="comment"] { color: light-dark(#444, #CCC); font-style: italic; }
        [data-kind="keyword"] { color: light-dark(#519, #DAF); }
        [data-kind="number"] { color: light-dark(#063, #7FA); }
        [data-kind="expr"] { color: light-dark(#04A, #ACF); }

        [data-kind="_invalid"] {
            color: var(--color-error);
            text-decoration: underline;
            text-decoration-style: wavy;
        }

        .errorMessage {
            position: absolute;
            padding: 0.5ch 1ch;

            white-space: nowrap;

            font-size: 0.75rem;
            transform: translateY(calc(100% + 0.5ch));

            &, &::before {
                color: black;
                background: #FCC;
                border: 1px solid #700;
            }

            &::before {
                content: "";

                position: absolute;
                display: inline-block;

                transform: translateY(-100%) rotate(-45deg);
                height: 1ch;
                width: 1ch;

                border-width: 1px 1px 0 0;
            }
        }
    }

    textarea {
        resize: none;
        caret-color: light-dark(black, white);
        color: transparent;
        background: transparent;
        overflow-y: hidden;
    }
}

.fileName {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0.25ch 1ch;
    border-bottom: 1px solid;

    span {
        max-width: 10vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.lineNumber {
    float: left;
    display: block;

    width: var(--line-numbers-width);
    margin-left: calc(-1 * var(--line-numbers-width));
    text-align: right;

    color: light-dark(#999, #777);

    &::after { content: " "; }

    &.hasError {
        color: var(--color-error);
    }
}

.toolbar {
    composes: toolbar from "../base/widgets.module.css";
    composes: topToolbar from "../base/widgets.module.css";
}

.shareWidget {
    appearance: none;
    display: block;

    width: 100%;
    box-sizing: border-box;

    padding: 1ch;
    margin-top: 2ch;
    margin-bottom: 4ch;

    border: 0;
    outline: 0;
    border-radius: 1ch;
    box-shadow: 0 0 3px var(--icon-button-shadow);
}

.suggestions {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 1000;

    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
    scrollbar-width: thin;

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    box-shadow: 0 0 3px var(--icon-button-shadow);

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        cursor: pointer;
        font-family: var(--monospace-font, monospace), monospace;
        font-size: 0.8rem;

        user-select: none;
        padding: 0.25ch 0.5ch;

        &.selected {
            color: var(--tab-selected-fg);
        }

        &.selected, &:hover, &:focus {
            background: var(--tab-selected-bg);
        }

        .params {
            color: #777;
            margin-left: 5ch;
        }

        .color {
            display: block;
            border-radius: 50%;
            width: 1lh;
            margin-left: 3ch;
        }
    }
}

.hoverInfo {
    position: fixed;

    margin-top: 1ch;
    padding: 0.5ch 1ch;

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);
    box-shadow: 0 0 3px var(--icon-button-shadow);

    font-family: var(--monospace-font, monospace), monospace;

    .hoverParam {
        font-weight: bold;
        font-style: italic;
    }
}

.editor:not(:has(textarea:hover)) .hoverInfo {
    display: none;
}

[data-layout="main"] {
    .editor {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .toolbar {
        border-radius: var(--border-radius) 0 0 0;
    }
}

[data-layout="vertical"] {
    .editor, .toolbar {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}
