.editor {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;

    header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        padding: 1em;
        text-align: center;
        font-size: 1.2rem;
    }

    textarea {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        resize: none;
        font-size: 1rem;
        font-family: monospace;
    }

    canvas {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}
