.panel {
    --border-radius: 2ch;

    display: grid;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    border: 1.5px solid var(--panel-border-color);

    color: var(--panel-fg);
    background: var(--panel-bg);
}

.toolbar {
    display: flex;
    flex-direction: row;

    color: var(--toolbar-fg);
    background: var(--toolbar-bg);

    border-bottom: var(--toolbar-border-width) solid var(--panel-border-color);
}

.select {
    appearance: none;
    position: relative;
    display: inline-flex;
    place-items: center;

    &:is(select) {
        padding: 0 1ch;
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms ease-out;

    padding: 0.75ch;

    &:not(:last-child) {
        margin-right: 1ch;
    }

    & > svg {
        height: var(--button-size, 20px);
        width: var(--button-size, 20px);
    }
}

.select, .button {
    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    border: 0;
    border-radius: 10%;

    outline: none;

    transition: box-shadow 200ms ease-out;
    box-shadow: 0 0 3px var(--icon-button-shadow);

    &:hover,
    &:focus {
        box-shadow: 0 0 6px var(--icon-button-shadow-focus);
    }
}
