.panel {
    --border-radius: 2ch;

    display: grid;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    border: 1.5px solid var(--panel-border-color);

    background: var(--panel-bg);
}

.toolbar {
    display: flex;
    flex-direction: row;

    color: var(--toolbar-fg);
    background: var(--toolbar-bg);

    border-bottom: var(--toolbar-border-width) solid var(--panel-border-color);
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #222;
    background: #fff;

    transition: background-color 200ms ease-out;

    border: 0;
    box-shadow: 0 0 3px #444;
    border-radius: 10%;

    padding: 0.75ch;

    &:not(:last-child) {
        margin-right: 1ch;
    }

    &:hover {
        background-color: var(--toolbar-item-focus-bg);
    }

    & > svg {
        height: var(--icon-size, 20px);
        width: var(--icon-size, 20px);
    }
}
