html, body, #root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--regular-font, sans-serif), sans-serif;
    font-size: 14pt;

    color: var(--main-fg);
    background: var(--main-bg);
}

.tooltip-floating-box {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    pointer-events: none;

    white-space: pre-wrap;
    text-align: center;

    font-size: 1rem;
    padding: 0.5ch 1ch;
    border-radius: 0.5ch;

    box-shadow: 0 0 3px light-dark(white, black);

    &, &::before {
        color: light-dark(white, black);
        background: light-dark(black, #fff);
    }

    &::before {
        display: block;

        position: absolute;
        left: calc(var(--arrow-left, 50%) - 0.5ch);

        content: "";
        width: 1ch;
        height: 1ch;

        transform: rotate(45deg);
    }

    &[data-position="above"] {
        margin-bottom: 1ch;

        &::before {
            top: calc(100% - 0.5ch);
        }
    }

    &[data-position="below"] {
        margin-top: 1ch;

        &::before {
            top: -0.5ch;
        }
    }

}

.kb-shortcut {
    text-align: center;
    padding: 1ch 0;

    span {
        color: black;
        background: #fafafa;

        text-transform: capitalize;
        white-space: pre;

        font-family: var(--monospace-font, monospace), monospace;

        padding: 0.25ch 1ch;
        font-size: 0.7rem;
        margin: 0.2ch;

        border-radius: 0.5ch;
        border: solid #ddd;
        border-width: 1px 1px 3px
    }
}

.block-link {
    display: block;

    color: light-dark(#333, #eee);
    background: light-dark(#fefefe, #222);

    text-decoration: none;

    padding: 0.5ch 1ch;
    margin-bottom: 2ch;

    outline: 0;
    border: 1.5px solid;

    cursor: pointer;

    &:focus, &:hover {
        color: light-dark(#44f, #ddf);
        background: light-dark(#fff, #000);
    }

    span.label {
        display: block;
        margin-bottom: 0.5ch;
        font-weight: bold;
        font-size: 110%;
    }

    span.desc {
        font-size: 90%;
    }
}

body:has([aria-label]:hover) .tooltip-floating-box {
    display: unset;
}

@media not (any-hover: hover) {
    .tooltip-floating-box {
        visibility: hidden;
    }
}

button, select, input {
    font-size: 0.75rem;
}
