.panel {
    --border-radius: 2ch;

    display: grid;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    border: 1.5px solid var(--panel-border-color);

    color: var(--panel-fg);
    background: var(--panel-bg);
}

.toolbar {
    display: flex;
    flex-direction: row;

    color: var(--toolbar-fg);
    background: var(--toolbar-bg);

    border-bottom: var(--toolbar-border-width) solid var(--panel-border-color);
}

.topToolbar {
    overflow: hidden;

    justify-content: space-between;
    padding: 1ch;
    gap: 3ch;

    & > div {
        --button-size: 20px;

        display: inline-flex;
        height: 30px;
    }
}

.floatingSelect {
    appearance: none;

    position: absolute;
    overflow: auto;
    scrollbar-width: none;

    padding: 2px;
    font-size: 0.8rem;

    border: 0;
    outline: none;
    padding: 0.5ch;

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    &[data-align="to-right"] { border-radius: 0 1ch 1ch 1ch; }
    &[data-align="to-left"] { border-radius: 1ch 0 1ch 1ch; }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms ease-out;

    padding: 0.75ch;

    color: var(--icon-button-fg);
    background: var(--icon-button-bg);

    border: 0;
    border-radius: 1ch;

    outline: none;

    &:hover, &:focus {
        &, & + .floatingSelect {
            box-shadow: 0 0 5px var(--icon-button-shadow-focus);
        }
    }

    &:not(:last-child) {
        margin-right: 1ch;
    }

    & > svg {
        height: var(--button-size, 20px);
        width: var(--button-size, 20px);
    }
}

.button, .floatingSelect {
    transition: box-shadow 200ms ease-out;
    box-shadow: 0 0 3px var(--icon-button-shadow);
}

.dropdownArrow::after {
    content: "";
    display: inline-block;

    width: 0.7ch;
    height: 0.7ch;

    margin-right: 0.25ch;
    margin-left: 1ch;

    border: solid currentcolor;
    border-width: 0 2px 2px 0;

    transform: translateY(-25%) rotate(45deg);
}

/*
 * Join <button> and <select> elements. Use `clip-path` to prevent
 * <button>'s box-shadow to overlap <select>.
 */
.button:has(+ select[data-align]) {
    z-index: 1000;
    border-radius: 1ch 1ch 0 0;
}

.button:has(+ select[data-align="to-right"]) {
    clip-path: polygon(
        -10px -10px,
        calc(100% + 10px) -10px,
        calc(100% + 10px) 100%,
        0 100%,
        0 calc(100% + 10px),
        -10px calc(100% + 10px)
    );
}

.button:has(+ select[data-align="to-left"]) {
    clip-path: polygon(
        -10px -10px,
        calc(100% + 10px) -10px,
        calc(100% + 10px) calc(100% + 10px),
        calc(100%) calc(100% + 10px),
        calc(100%) calc(100%),
        -10px 100%
    );
}
