@import "@highlight/github.css" (not (prefers-color-scheme: dark));
@import "@highlight/github-dark.css" (prefers-color-scheme: dark);

@custom-media --small-viewport screen and (max-width: 950px);
@custom-media --regular-viewport screen and not (max-width: 950px);

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "DejaVu Sans", Seravek, Calibri, Arial, sans-serif;
    font-size: var(--theme-font-size);

    color: var(--theme-fg);
    background: var(--theme-bg);
}


@media (--regular-viewport) {
    main {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    aside {
        position: sticky;
        top: 0;

        height: 100vh;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-gutter: stable;
    }

    section {
        overflow-x: auto;
    }
}

aside {
    background: var(--theme-toc-bg);

    h1 {
        text-align: center;
        min-width: 10ch;
    }

    details {
        summary {
            padding: 1ex;
            cursor: pointer;

            font-weight: bold;

            display: block;
            &::-webkit-details-marker { display: none; }

            &::before {
                content: " ";

                float: right;
                display: inline-block;

                margin-left: 1ch;
                height: 1em;
                width: 1em;

                background-image: url("./assets/arrow.svg");
                background-size: 1em;
                background-position: center right;
                background-repeat: no-repeat;

                transition: transform 200ms ease-in;
            }

            &:hover {
                color: var(--theme-links);
            }
        }

        &:not([open]) > summary::before {
          /* Rotate icon in <summary> when <details> is closed. */
          transform: rotate(-90deg);
        }

        &[data-title="Commands"] a {
            font-family: monospace;
        }
    }

    a {
        display: block;
        padding: 1ex;
        margin: 0 2ex;

        white-space: nowrap;
        text-decoration: none;
    }
}

section {
    padding: 1em;

    p, li {
        line-height: 1.5;
    }

    li p {
        margin: 0;
    }

    & > :is(div, p, pre, table, ul, h4) {
        overflow-x: auto;

        @media (--regular-viewport) {
            &:not(ul) {
                margin-left: 1em;
            }
        }
    }

    @media (--small-viewport) {
        & > ul {
            padding-left: 3ex;
        }
    }

    pre.standalone {
        border: 5px solid var(--theme-code-bg);
        border-radius: 5px;

        &:has(.signature-command) {
            border: 0;

            code {
                background: unset;
                padding: 0;
            }
        }
    }

    h1 {
        border-bottom: 3px solid var(--theme-header-underline);
    }

    h2 {
        border-bottom: 1px solid var(--theme-header-underline);
    }

    h3, h4 {
        border-bottom: 1px solid var(--theme-header-underline);
    }

    code.hljs {
        display: block;

        .error {
            text-decoration: underline wavy red 1px;
            text-decoration-skip-ink: none;
        }

        .mark {
            text-decoration: underline var(--theme-hl-mark-bg) 0.5ex;
            text-decoration-skip-ink: none;
        }

        .signature-command {
            font-weight: bold;
        }

        .signature-argument {
            margin: 0 0.3ex;
            font-style: italic;
        }

        .command-implicit {
            font-style: italic;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: var(--theme-bg);
                background: var(--theme-links);
            }
        }

        &:hover a {
            text-decoration: underline;
        }

        /* Color for output text in `console` snippets */
        &:has(.hljs-meta + .language-bash) {
            color: #555;

            .language-bash {
                color: #24292e;
            }

            @media (prefers-color-scheme: dark) {
                color: #AAA;

                .language-bash {
                    color: #c9d1d9;
                }
            }
        }
    }

    :not(:is(a, pre)) > code {
        padding: 0 5px;
        border-radius: 5px;

        color: var(--theme-code-fg);
        background: var(--theme-code-bg);
    }

    a[href^="#cmd_"]:has(> code:first-child:last-child):not(:hover) {
        --theme-links: var(--theme-cmd-fg);
    }

    table {
        border-collapse: collapse;

        th, td {
            text-align: left;
            padding: 5px 10px;

            border: 1px solid var(--theme-header-underline);

            color: var(--theme-fg);
            background: var(--theme-bg);
        }
    }

    .example {
        & > * { margin: 1em; }

        color: var(--theme-example-fg);
        background: var(--theme-example-bg);

        border: 1px solid var(--theme-header-underline);

        &:has(> .vgs-output:first-child:last-child) {
            background: var(--theme-code-bg);
        }

        &::before {
            display: block;

            content: "Example";
            font-weight: bold;

            padding: 0.5ex 2ex;
            border-style: solid;
            border-color: var(--theme-header-underline);
            border-width: 0 0 1px 0;

            color: var(--theme-fg);
            background: var(--theme-bg);
        }

        @media screen {
            @supports (margin: calc(0.5ex - 1lh)) {
                &, & > :first-child {
                    margin-top: 2em;
                }

                &::before {
                    position: absolute;
                    border-width: 1px;
                    margin-top: calc(0.5ex - 1lh);
                    margin-left: 1ex;
                }
            }
        }
    }

    .screenshot {
        padding-left: 10px;

        img {
            max-width: calc(100% - 20px);
            box-shadow: 0 0 5px 5px var(--theme-screenshot-shadow);
            background: var(--theme-screenshot-shadow);
        }
    }

    .icons {
        ul {
            margin: 0;
            padding-left: 5px;

            li {
                list-style: none;
            }
        }
    }

    .definitions {
        ul {
            padding-left: 1em;
            margin: 0;

            li {
                list-style: none;

                &:not(:first-child) {
                    padding-top: 2ex;
                }
            }
        }

        p:first-child {
            strong {
                font-weight: normal;
                border-bottom: 1px dotted;
            }
        }

        p:not(:first-child) {
            margin: 1ex 2em;
        }
    }

    img[src^="./icon-"] {
        display: inline-block;

        color: #000;
        background: #fff;

        padding: 4px;
        margin: 5px;
        border-radius: 5px;

        box-shadow: 0 0 3px #777;

        vertical-align: middle;
        width: 1lh;
        height: 1lh;
    }

    kbd {
        display: inline-block;

        color: black;
        background: #fafafa;

        text-transform: capitalize;
        white-space: pre;

        font-size: 90%;
        font-family: monospace;

        padding: 0.2ch 1ch;
        margin: 0 0.25ch;

        border-radius: 0.5ch;
        border: solid #ddd;
        border-width: 1px 1px 3px
    }
}


a {
    color: var(--theme-links);
    text-decoration-color: color-mix(in srgb, currentcolor 30%, transparent);

    &:hover {
        text-decoration: none;

        color: var(--theme-bg);
        background: var(--theme-links);

        code {
            color: unset;
            background: unset;
        }
    }
}

#showTOC, #showTOC input {
    display: none;

    text-align: center;
    padding: 2ex;
    font-size: 110%;

    background: var(--theme-show-toc-bg);
    border-bottom: 1px solid var(--theme-fg);
}

.vgs-output {
    display: grid;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;

    background: var(--theme-code-bg);

    .code {
        display: flex;
        height: 100%;

        flex-direction: column;

        pre {
            margin: 0;
        }

        .preview-color {
            display: inline-block;
        }
    }

    .actions a {
        display: inline-block;

        padding: 1ex 1.5ex;
        border: 1px solid var(--theme-play-fg);

        color: var(--theme-play-fg);
        background: var(--theme-play-bg);

        white-space: nowrap;
        text-decoration: none;

        &:hover {
            color: var(--theme-play-bg);
            background: var(--theme-play-fg);
        }

        &.playground {
            &::before {
                display: inline-block;
                content: " ";

                width: 0;
                height: 0;

                border: 0.3lh solid transparent;
                border-left: 0.5lh solid currentcolor;
            }
        }

        @media print {
            display: none;
        }
    }

    .output picture {
        display: block;
        border-radius: 5px;

        img {
            /* Needed to remove the gap under the image. */
            vertical-align: middle;
        }
    }

    @media (--regular-viewport) {
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr min-content;

        .code {
            grid-area: 1 / 1;

            pre, code {
                height: 100%;
            }
        }

        .output {
            grid-area: 1 / 2 / 3 / 2;
        }

        .actions {
            grid-area: 2 / 1;
        }
    }

    @media (--small-viewport) {
        grid-template-columns: 1fr min-content;

        .code {
            grid-area: 1;
            overflow-x: auto;
        }

        .output {
            grid-area: 2;
            overflow-x: auto;

            display: flex;
            justify-content: center;

            img, video {
                max-width: 100%;
                height: auto;
            }
        }

        .actions {
            grid-area: 3;
        }
    }

    @media print {
        background: unset;

        .code, .output img, .output video {
            border: 1px solid #777;
        }
    }
}

/* Layout for smaller screens. */
@media (--small-viewport) {
    main {
        flex-direction: column;
    }

    #showTOC {
        display: block;
    }

    #showTOC:not(:has(:checked)) + .sections {
        display: none;
    }
}

@media print {
    #showTOC, aside, video {
        display: none;
    }
}

main.landing {
    .complex-example {
        .source {
            border: 1px solid var(--theme-header-underline);

            .filename {
                padding: 1ex 2ex;
                border-bottom: 1px solid var(--theme-header-underline);

                color: var(--theme-example-fg);
                background: var(--theme-example-bg);

                font-weight: bold;

                code {
                    color: unset;
                    background: unset;
                    padding: unset;
                }

                & > span {
                    display: flex;
                    align-items: center;
                    gap: 0.5ex;
                }
            }

            pre {
                margin: 0;
            }

            .video-output {
                max-width: 100%;
                height: auto;
                margin: 1em;
            }

            video:first-child {
                max-width: 100%;
                height: auto;
            }

            .example-code {
                display: grid;
                grid-template-rows: min-content 1fr;
                grid-template-columns: 1fr min-content;

                .copy-button {
                    grid-area: 1 / 2 / 2 / 3;
                }

                code {
                    grid-area: 1 / 1 / 3 / 3;
                }

                .copy-button {
                    cursor: pointer;
                    margin: 1ex;
                    -webkit-tap-highlight-color: transparent;

                    svg {
                        vertical-align: middle;
                        padding: 5px;
                        border-radius: 5px;

                        background: var(--theme-toc-bg);
                        box-shadow: 0 0 1px currentcolor;
                    }

                    &.copied::before {
                        content: "Copied!";

                        font-family: sans-serif;
                        font-size: 90%;

                        padding: 1ex 2ex;
                        margin-right: 1ex;
                        border-radius: 1ex;

                        color: white;
                        background: black;
                    }
                }
            }
        }

        .source + .source {
            margin-top: 1em;
        }
    }

    .simple-video {
        video {
            max-width: 100%;
            height: auto;
        }
    }

    .ffmpeg-filter-link {
        font-family: monospace;
        color: var(--theme-ffmpeg-filter-link);

        &:hover {
            color: var(--theme-bg);
            background: var(--theme-ffmpeg-filter-link)
        }
    }

    .vgs-command {
        color: var(--theme-cmd-fg);
        font-family: monospace;
    }
}

/* Highlight when user jumps to a section */
:target {
    scroll-margin-top: 10vh;
}

h2, h3 {
    padding: 0.25ex;
    margin-top: 3em;
}

h2, h3, h4 {
    &:has(:target) {
        @media not (prefers-reduced-motion) {
            animation: 1.5s ease-in bg-highlight;
        }
    }

    &:hover > a[name][href]:first-child::before {
        content: "ยง";
        display: inline-block;
        position: absolute;
        margin-left: -1ch;
        padding-right: 1ch;

        color: var(--theme-links);
    }
}

@keyframes bg-highlight {
    from {
        background: var(--theme-bg-highlight);
    }

    75% {
        background: var(--theme-bg-highlight);
    }

    to {
        background: rgba(127, 127, 127, 0);
    }
}

/* Theme */
:root {
    color-scheme: light dark;

    --theme-font-size: 12pt;

    --theme-fg: #111;
    --theme-bg: #fff;

    --theme-code-fg: #111;
    --theme-code-bg: #eee;

    --theme-links: #007;

    --theme-cmd-fg: #6F42C1;

    --theme-hl-error-fg: #000;
    --theme-hl-error-bg: #fee;
    --theme-hl-mark-bg: #9D9;

    --theme-toc-bg: #eee;
    --theme-show-toc-bg: #ccc;

    --theme-play-fg: #037;
    --theme-play-bg: #fff;

    --theme-example-fg: #000;
    --theme-example-bg: #fafafa;

    --theme-header-underline: #bbb;

    --theme-bg-highlight: #9DF;

    --theme-screenshot-shadow: #ccc;

    --theme-ffmpeg-filter-link: #2f6a2f;

    @media (prefers-color-scheme: dark) {
        --theme-fg: #fff;
        --theme-bg: #111;

        --theme-code-fg: #fff;
        --theme-code-bg: #333;

        --theme-links: #AAF;

        --theme-cmd-fg: #D2A8FF;

        --theme-hl-error-fg: #eee;
        --theme-hl-error-bg: #311;
        --theme-hl-mark-bg: #484;

        --theme-toc-bg: #222;
        --theme-show-toc-bg: #333;

        --theme-play-fg: #9cf;
        --theme-play-bg: #000;

        --theme-example-fg: #eee;
        --theme-example-bg: #222;

        --theme-header-underline: #555;

        --theme-bg-highlight: #024;

        --theme-screenshot-shadow: #333;

        --theme-ffmpeg-filter-link: #4cae4c;
    }
}
