.output {
    composes: panel from "../base/widgets.module.css";

    grid-template-rows: auto 1fr;
    background: unset;
}

[data-layout="main"] {
    .output, .toolbar {
        border-radius: 0 var(--border-radius) 0 0;
    }
}

[data-layout="vertical"] .output {
    border: 0;
}

.toolbar {
    composes: toolbar from "../base/widgets.module.css";
    composes: topToolbar from "../base/widgets.module.css";
}

.canvasSize {
    font-family: var(--monospace-font, monospace), monospace;
    font-size: 0.7rem;

    display: flex;
    align-items: center;
}

.renderView {
    [data-layout="main"] & {
        background-attachment: fixed;
    }

    background-color: #f0f0f0;
    background-image: url(./checkerboard.svg);

    &[data-fit-render="1"] {
        overflow: hidden;
    }

    &[data-fit-render="0"] {
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: auto;
    }
}

.warning {
    margin-top: 3ch;
    color: #fc7;

    b {
        display: block;
    }
}

.exportProgress {
    display: grid;

    width: 15rem;
    height: 15rem;

    span, svg {
        grid-area: 1 / 1;
        place-self: center;
    }

    span {
        display: block;
        font-size: 3rem;
        text-shadow: 0 0 10px white;

        &.processing {
            font-size: 1rem;
        }
    }

    svg {
        filter: drop-shadow(0 0 5px);
    }

    circle {
        transition: stroke-dashoffset 500ms ease-out, r 250ms ease-out;
    }
}

.buttonBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1ch;

    color: black;
    background: white;
    box-shadow: 0 0 10px white;

    a[download] {
        color: white;
        font-weight: bold;
        background: #248;
    }

    .summary {
        font-size: 0.8rem;
    }
}

.results {
    padding: 2ch;
    text-align: center;

    video {
        max-height: 50vh;
        max-width: 50vh;
        box-shadow: 0 0 1ch black;
    }
}
