.output {
    composes: panel from "../layout.module.css";

    grid-template-rows: auto 1fr;
    background: #EEE;
    border-radius: 0 var(--border-radius) 0 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 1ch;
    border-bottom: 1.5px solid var(--panel-border-color);

    & > div {
        --icon-size: 20px;

        display: inline-flex;
        height: 30px;
    }
}

.canvasSize {
    font-family: monospace;
    font-size: 0.7rem;

    display: flex;
    align-items: center;
}

.renderView {

    &[data-fit-render="1"] {
        overflow: hidden;
    }

    &[data-fit-render="0"] {
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: auto;
    }

}
