.output, .toolbar {
    border-radius: 0 var(--border-radius) 0 0;
}

.output {
    composes: panel from "../widgets.module.css";

    grid-template-rows: auto 1fr;
    background: unset;
}

.toolbar {
    composes: toolbar from "../widgets.module.css";

    overflow: hidden;

    justify-content: space-between;
    padding: 1ch;
    gap: 3ch;

    & > div {
        --button-size: 20px;

        display: inline-flex;
        height: 30px;
    }
}

.canvasSize {
    font-family: monospace;
    font-size: 0.7rem;

    display: flex;
    align-items: center;
}

.renderView {

    background-attachment: fixed;
    background-color: #f0f0f0;
    background-image: url(./checkerboard.svg);

    &[data-fit-render="1"] {
        overflow: hidden;
    }

    &[data-fit-render="0"] {
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: auto;
    }

}
